    #top{
        display: grid;
        grid-template-columns: 4fr 7fr 4fr;
        height: 30px;
        border-bottom: solid gray 0.1px;
        margin-bottom: 10px;
    }

    #top i{
        font-size: 14px;
    }
    
    #top div{
        text-align: center;
        padding-top: 6px;
    }

    #top img{
        margin-left: auto;
        margin-right: auto;
        height: 80%;
        object-fit: contain; /*미디어 비율을 유지한채 부모요소 밖으로 튀어나가지 않도록 크기 축소*/
    }
    
    #top input{
        height: 60%;
        width: 95%;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;

        text-align: center;
        background-color: rgb(red, green, blue);

        border: solid gray 1px;
        border-radius: 3px;
        font-size: 10px;
        font-weight: 100;
    }

    #profile_info{
        height: 50px;
    }

    #id{
        font-size: 18px;
        font-weight: 100;
    }

    #highlight_area{
        display: grid;
        grid-template-columns: 45px 45px 1fr;
  
    }

    button{
        height: 50%;
        width: 95%;
        font-size: 10px;
        background-color: white;
        border: solid gray 1px; 
        border-radius: 3px;

    }
    
    .highlight{
        text-align: center;

    }


    #profile{
        display: grid;
        grid-template-columns: 1fr 3.5fr;
    }

    .profile_info{
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    .thumbnail_grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width:100%;
    }

    #start_bar{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        border-top: 1px solid gray;
        border-bottom: 1px solid gray;

        margin-bottom: 5px;
        margin-top: 5px;
    }

    .start{
        text-align: center;
    }
    .circle_pic{
        border:solid white 1px;
        border-radius: 50%;

        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .circle_pic1{
        border:solid white 1px;
        border-radius: 50%;
        width: 50px;
        height:50px;
        object-fit: cover; /*미디어의 일부가 부모요소 밖으로 나가도 비율유지한채로 부모요소에 꽉 들어맞게 채움*/
    }
    .highlight_pic{
        width: 35px;
        height: 35px;
        margin-left: auto;
        margin-right: auto;
    }
    #profile_pic{ㄴ
        width: 50px;
        height: 50px;
    }
    #sub_icons{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        text-align: center;
        font-size: 15px;
    }
    .selected{
        border-bottom: solid gray 3px;
    }